@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;

}
a {
    text-decoration: none;
}
.container {
    width: 1140px;
    margin: auto;
}

.header {
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    /*background: lightgray;*/
}

.logo {
    width: 165px;
    /*rem em*/
    background: url("../img/logo.png") no-repeat;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    padding-left: 72px;
    line-height: 51px;
}
/*селекторы */
.pink {
    color: #f16d7f!important;
    font-weight: 700;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    height: 40px;
    font-weight: 300;


}

.searchBrowse {
    padding: 14px;
    border-right: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    font-size: 14px;
    line-height: 40px;
    color: #222222;
    font-weight: 400;
}

.search input {
    height: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;


}

.search .searchBrowse i:first-child {
    color: #838383;
}

.search button i {
    color: #a4a4a4;
}


.search button {
    height: inherit;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: none;
    padding: 12px;

}

.accountBtn {
    padding: 13px 19px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.headerCart {
    margin-right: 24px;
    margin-left: auto;
}

.headerLine {
    border-bottom: 1px solid #ececec;
}

.topNav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav a {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.topNav a:not(:last-child) {
    margin-right: 45px;
}

.topBanner {
    background: #e8e8e8;

}

.topBannerContent {
    background: url(../img/topHeaderBack.png) no-repeat 95% -75%;
    height: 600px;
    display: flex;
    align-items: center;

}
.topBannerText {
    border-left: 12px solid #f16d7f;
    padding-left: 5px;
}
.topBannerText h2 {
    font-size: 3em;
}
.topBannerText h3 {
    font-size: 2em;
}
.offer>div {
    position: absolute;
    top:25px;

}
.offers {
    display: flex;
    flex-direction: column;
    height: 820px;
    flex-wrap: wrap;
    padding: 100px 0;
}

.offer {
    position: relative;
}
.offer:nth-child(odd) {
     margin: 0 0 6px 0;
 }
.offerLabel {
    background: #fff;
    padding: 15px;
    text-transform: uppercase;
}
.topOfferLabel {
    font-weight: 700;
    font-size: 1.5em;
}
.bottomOfferLabel, h2 {
    font-size: 1.8em;
}
.featuredItems {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.featuredItems h2, h5 {
    text-align: center;
}
.featuredItems h5 {
    color: #9f9f9f;
    margin-bottom: 60px;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.item {
    width: 260px;
    margin-bottom: 25px;
}
.item:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
.itemInfo {
    height: 280px;
    background: url("../img/item.jpg") 50% 50%;
}
.itemText {
    height: 80px;
    padding-left: 10%;
}
.featuredButton {
    background-color: #f16d7f;
    color: #ffffff;
    padding: 25px;
    margin: auto;
}
.featuredButton:hover {
    background-color: #f15369;
}
.specialOffer {
    display: flex;
    height: 528px;
    background: #222224;
    margin-bottom: 100px;
}
.specialOfferLeft {
    position: relative;
    background: url("../img/special offer.jpg") no-repeat;
    width: 70%;
    color: #ffffff;
}
.specialOfferRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    box-sizing: border-box;
    padding: 0 24px 0 50px;
    color: #fbfbfb;
}
.specialOfferText {
    padding: 20% 0 0 5%;
}
.specialOfferText h2 {
    font-size: 2.4em;
    font-weight: 400;
}
.specialOfferText h3 {
    font-size: 2em;
    font-weight: 400;
}
.specialOfferFeature {
    position: relative;
}
.specialOfferFeature h5 {
    text-align: left;
    font-size: 1.8em;
    font-weight: 400;
}
.specialOfferFeature p {
    font-weight: 300;
}
.specialOffer i {
    position: absolute;
    top: 6px;
    left: -53px;
    color: #f15369;
}
.feedback {
    height: 380px;
    background: url("../img/feedback.jpg") 50% no-repeat;
    background-size: 100%;
}
.feedbackFilter {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
}
.feedbackFilter .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 110px;
    box-sizing: border-box;
}
.review {
    background: url("../img/review.png") no-repeat;
    width: 500px;
    padding-left: 120px;
    box-sizing: border-box;
}
.review p, .pink {
    margin: 0;

}
.review .pink {
    margin-top: 10px;
}
.textSmall {
    font-size: 0.7em;
}
.reviewSlideButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 10px;
    width: 140px;
}
.reviewSlideButton {
    width: 40px;
    height: 5px;
    background: #d6d6d6;
}
.reviewSlideButton:hover {
     background: #e89da9;
 }
.active, .active:hover {
    background: #f16d7f;
}

.subscribe {
    text-align: center;
    text-transform: uppercase;
    color: #222224;
    font-weight: 600;
    margin-left: auto;
}
.subscribe p   {
    font-size: 0.8em;
}
.subscribe h3   {

}
.subscribe input {
    width: 280px;
    height: 45px;
    border-radius: 20px 0 0 20px ;
    outline: none;
    border: none;
    padding-left: 25px;
    box-sizing: border-box;
    background: #e1e1e1;
}
.subscribe button {
    background: #f16d7f;
    border: none;
    height: 45px;
    margin: 0 0 0 -4px;
    border-radius: 0 20px 20px 0;
    color: #fff;
    outline: none;
}
.subscribe button:hover {
    background: #ee596c;
}
.footerInfo {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0;
}
.infoMain {
    width: 430px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.info h5   {
    text-transform: uppercase;
}
.info a, p {
    color: #919191;
}
.info a:hover {
    color: #f15369;
}
footer {
    background: #e6e6e6 100%;
    height: 100px;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.socials {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.socials a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #ffffff;
    color: #bcbcbc;
}
.socials a:hover {
    background: #f16d7f;
    color: #ffffff;
}

.bannerShopingCart {
    background-image: none;
    height: 148px;
}
.shopingCartBannerText {
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.breadCrumbs {
    line-height: 57.5px;
    text-transform: uppercase;
}
.breadCrumbs a {
    color: #6d6d6d;
}

.cartHeaders {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.cartHeaders p:first-child {
    width: 480px;
    text-align: start;
}
.cartHeaders p {
    width: 96px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 22px 0;
}
.itemDetails {
    display: flex;
}
.product img {
    width: 100px;
    margin-right: 20px;
}
.product .description {
    width: 360px;
    justify-self: left;
}
.product .description h5 {
    text-align: left;
    text-transform: uppercase;
}
.product .description p {
    text-transform: capitalize;
}
.product p,.product input,.product button {
    width: 96px;
    text-align: center;
}

.product input {
    height: 30px;
    width: 50px;
}
.product button {
    border: none;
    background: none;
    outline: none;
}
.product button:active, .product button:hover  {
    color: #f16d7f;
}
main>form>button,  .checkout button{
    width: 235px;
    height: 50px;
    background: none;
    outline: none;
    border: 1px solid #eaeaea;
    margin: 50px 0;
}
main>form>button:hover {
    background-color: #f16d7f;
    color: #fff;
}
main>form>button:last-child {
    float: right;
}
.checkout {
    display: flex;
    justify-content: space-between;
}
.checkout h4 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.checkout p {
    margin: 0 0 20px 0;
    color: #000;
}
.checkout form {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.checkout form input {
    margin-bottom: 20px;
    height: 45px;
    outline: none;
    line-height: 51px;
    font-size: 1.2em;
}
.checkout form button {

    width: 100px;
    height: 35px;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 600;
    margin: 0 0 50px 0;
}
.checkout form button:hover {
    background-color: #f16d7f;
    color: #fff;
}
.total {
    background: #f5f3f3;
    height: 215px;
    padding: 40px;
    box-sizing: border-box;
    text-align: right;
    text-transform: uppercase;
}
.checkout .total button {
    width: 275px;
    height: 50px;
    background-color: #f16d7f;
    color: #fff;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 0.9em;
}
.checkout .total button:hover {
    background: #ee596c;
}
.total p:first-child {
    font-size: 0.8em;
    font-weight: 400;
}

.total p {
    font-size: 1em;
    font-weight: 900;
}






